*.[oa]
*~
*.so
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
m4/lt*.m4
m4/libtool.m4
aclocal.m4
conf/*.dist
config.*
libtool
install-sh
depcomp
ltmain.sh
missing
src/icecast
stamp-h1
configure
autom4te.cache
